@import '../../styles/constants.scss';

.button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 18px;
  border-radius: 18px;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #6875cd 0%, #5f1be6 51%, #a076df 100%);
  background-size: 200% auto;
  box-shadow: 0px 20px 24px 3px rgba(121, 19, 189, 0.42);
  transition: .5s;
  cursor: pointer;
  
    &:hover {
        background-position: right center;
    }
}