@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Colors*/

$black: #242D49;
$white: #ffffffcf;
$purple: #5610d0;
$purple-light: #8f76ba;
$gray: #788097;
$boxShadow: 0px 19px 60px rgb(0, 0, 0.08);
$purpleCard: rgba(252, 166, 31, 0.45);
$smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
$gradient: linear-gradient(120deg, #9EFFA9, #681FEF);

/*Fonts*/

$font-main: 'Roboto', sans-serif;
$font-size-main: 16px;