@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.skills {
    @include flex;
    height: 100vh;

    &__left {
        flex: 1;
        @include flex;
        justify-content: center;

        .block {
            max-width: 700px;
            @include column;
            gap: 5rem;
            padding-left: 30px;

            .item {
                @include flex;

                &>:nth-child(1) {
                    font-size: 2rem;
                    min-width: 210px;
                    text-align: end;
                    margin-right: 30px;
                }

                &__right {
                    font-size: 1.2rem;
                    padding-right: 10px;

                    .name {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &__right {
        flex: 1;
        position: relative;

        .main__circle {
            left: 9rem;
            position: relative;
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            box-shadow: $smboxShadow;
            top: 2rem;
            background-color: #ffffff;

            &>* {
                position: absolute;
            }

            &>:nth-child(1) {
                top: -3rem;
                left: 6.5rem;
            }

            &>:nth-child(2) {
                top: 3.5rem;
                left: -3rem;
            }

            &>:nth-child(3) {
                top: 6.5rem;
                left: 6.5rem;
            }

            &>:nth-child(4) {
                top: 3.5rem;
                left: 17rem;
            }

            &>:nth-child(5) {
                top: 15rem;
                left: 0.5rem;
            }

            &>:nth-child(6) {
                top: 15rem;
                left: 13.5rem;
            }

            .second__circle {
                background-color: #ffffff;
                @include flex;
                width: 7rem;
                height: 7rem;
                position: absolute;
                border-radius: 100%;
                border: 5px solid #ebebeb;
                justify-content: center;

                &>img {
                    transform: scale(0.7);
                }
            }
        }

        .back__circle {
            position: absolute;
            height: 13rem;
            width: 13rem;
            border-radius: 100%;
            z-index: -1;
        }

        .yellow {
            background-color: rgb(103, 28, 172);
            left: 19rem;
            top: 10rem;
        }

        .green {
            background-color: $black;
            left: 19rem;
            top: 0rem;
        }
    }
}

@media (max-width: 1100px) {

    .skills {

        &__right {

            .main__circle {
                left: 5rem;
            }

            .yellow {
                left: 15rem;
            }

            .green {
                left: 15rem;
            }
        }
    }
}

@media (max-width: 1000px) {

    .skills {

        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .skills {

        &__left {
            margin-bottom: 70px;

            .block {
                padding-left: 10px;
            }
        }

        &__right {
            width: 100%;

            .main__circle {
                left: 20%;
            }

            .yellow {
                left: 40%;
            }

            .green {
                left: 40%;
            }
        }
    }
}

@media (max-width: 530px) {
    .skills {

        &__left {

            .block {

                .item {

                    &>:nth-child(1) {
                        font-size: 20px;
                        min-width: 130px;
                    }
                }
            }
        }

        &__right {

            .main__circle {
                width: 250px;
                height: 250px;
                left: 15%;

                &>:nth-child(1) {
                    top: -2rem;
                    left: 5rem;
                }

                &>:nth-child(2) {
                    top: 3rem;
                    left: -2rem;
                }

                &>:nth-child(3) {
                    top: 5rem;
                    left: 5rem;
                }

                &>:nth-child(4) {
                    top: 3rem;
                    left: 12rem;
                }

                &>:nth-child(5) {
                    top: 11rem;
                    left: 0rem;
                }

                &>:nth-child(6) {
                    top: 11rem;
                    left: 10rem;
                }

                .second__circle {
                    width: 90px;
                    height: 90px;
                }
            }

            .back__circle {
                height: 150px;
                width: 150px;
            }

            .yellow {
                left: 40%;
                top: 8rem;
            }

            .green {
                left: 40%;
                top: 2rem;
            }
        }
    }
}

@media (max-width: 400px) {
    .skills {


        &__right {

            .back__circle {
                height: 150px;
                width: 150px;
            }

            .yellow {
                left: 45%;
                top: 8rem;
            }

            .green {
                left: 45%;
                top: 2rem;
            }
        }
    }
}