@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.contact {
    display: flex;
    height: 80vh;
    margin-top: 4rem;
    width: 100%;
    justify-content: center;


    &__content {
        @include flex;
        width: 800px;
        height: 500px;
        position: relative;
        right: 10rem;
    }

    &__left {
        @include column;
        justify-content: end;
        width: 100%;
        height: 108%;
        background-image: url("../../img/Contact/me.jpg");
        background-size: cover;
        padding: 50px 50px;
    }

    &__right {
        @include column;
        width: 100%;
        height: 108%;
        padding: 30px 40px;
        background-color: $white;
        box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.05);

        &>:nth-child(1) {
            color: $black;
            @include flex;
            gap: 10px;
            margin-bottom: 30px;

            .title {
                font-size: 34px;
            }
        }

        .blur {
            position: absolute;
            top: 1rem;
            left: 8rem;
        }

        &>form {
            @include column;
            gap: 1.5rem;
            margin-top: 1rem;
            z-index: 10;
            align-items: center;

            input {
                color: $black;
            }

            .user {
                width: 100%;
                height: 50px;
                padding: 15px;
                outline: none;
                background-color: $white;
                box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.05);
                border-radius: 16px;
                font-size: 16px;
            }

            textarea {
                height: 8rem !important;
                color: $black;
            }

            .button {
                width: 100%;
                background-color: $purple;
                padding: 15px 20px;
                color: #ffffff;
                border-radius: 16px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .contact {
        padding: 10px;

        &__content {
            max-width: 600px;
        }

        &__left {
            display: none;
        }

        &__right {
            border-radius: 19px;
        }
    }
}