@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.header {
    @include flex;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;

    &__left {
        @include flex;
        gap: 20px;

        .name {
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    &__right {
        @include flex;
        justify-content: center;
        gap: 50px;
        font-size: 1.2rem;
        margin-right: 10px;

        .list {
            @include flex;
            gap: 25px;
            font-weight: 700;
            list-style-type: none;

            >li {
                display: block;
                cursor: pointer;
                transition: all 0.2s linear;

                &:hover {
                    color: $purple;
                }
            }
        }

        .button {
            font-size: 16px;
        }

        .mobile__button {
            display: none;
        }
    }
}

@media (max-width: 1000px) {

    .header {

        &__right {

            .button {
                display: none;
            }

            .mobile__button {
                display: block;
                position: absolute;
                right: 20px;
                top: 10px;
                cursor: pointer;
                z-index: 12;
            }

            .list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                left: -100%;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100vh;
                background-color: rgb(129, 87, 152);
                z-index: 10;
                transition: left 1s;

                a {
                    font-size: 28px;
                }
            }


            .active {
                left: 0;
            }
        }
    }
}